$size1: 18vh; /* Ubah em menjadi vh (viewport height) */
$size2: 10vh;
$size3: 7vh;
$size4: 5vh;
$size5: 4.5vh;
$size6: 2.5vh;
$size7: 2vh;
$size8: 4vh;
$size9: 8vh; /* Ganti $size8 menjadi $size9 */



ion-title {
  color: rgba(255, 255, 255, 0.8);
}

ion-header {
  margin: auto;
  text-align: center;
--ion-text-color:#fff;
}

ion-content{
  height: 100%;
  --background: linear-gradient(#65bcdb, #236870) !important;
  --ion-text-color:#222;
}

/* Gaya untuk elemen pencarian kota */
.search {
  display: flex; /* Menggunakan flexbox */
  align-items: center; /* Untuk membuat input dan tombol berada di tengah vertikal */
  margin: 20px; /* Atur margin sesuai kebutuhan */
}

.search-input {
  font-family: 'Arial', sans-serif;
  color: #333; /* Ubah warna teks sesuai preferensi Anda */
  background-color: rgba(3, 28, 34, 0.4); /* Warna latar belakang dengan transparansi */
  flex: 1;
  padding: 12px; /* Atur padding sesuai kebutuhan */
  border: 2px solid #298089;
  border-radius: 25px; /* Lebih bulat untuk tampilan yang lebih menarik */
  font-size: 16px;
  outline: none; /* Hilangkan border focus */
  transition: background-color 0.3s, border-color 0.3s; /* Tambahkan efek transisi */
}

.search-input:focus {
  background-color: #ffffff; /* Warna latar belakang saat fokus */
  border-color: #298089; /* Warna border saat fokus */
}

.search-button {
  font-family: 'Arial', sans-serif;
  background-color: #298089;
  color: #fff; /* Warna teks tombol */
  border: none;
  border-radius: 25px;
  padding: 12px 20px;
  cursor: pointer;
  margin-left: 10px;
  display: flex;
  align-items: center;
}

ion-icon {
  vertical-align: middle;
  margin-right: 5px;
}


.main {
  display: block; 
  text-align: center; 
}
  
.city {
  display: block;
  font-size: $size8;
  font-weight: bold; 
  padding-top: 0.2em; 
}
  
.date {
  display: block; 
  font-size: $size6;
}

ion-card.mula {
  transition: transform 0.3s ease; /* Menambahkan efek transisi */
  display: flex;
  flex-direction: column;
  align-items: center; /* Memastikan konten di tengah secara vertikal */
  background-color: rgba(41, 128, 137, 0.7);
  box-shadow: 0 2px 4px rgba(92, 90, 90, 0.2); /* Bayangan card */
  text-align: center;
  padding: 8px; /* Atur padding sesuai kebutuhan Anda */
}

ion-card.mula img {
  margin: auto; /* Mengatur margin ke auto agar gambar tetap di tengah */
  border-radius: 50%; /* Membuat thumbnail menjadi lingkaran */
  border: 2px solid #298089; /* Menambahkan border dengan warna tertentu */
  width: 40%; /* Ukuran thumbnail */
  height: 40%;
}

ion-card.mula ion-card-title {
  color: #252525; /* Warna teks deskripsi */
  font-size: $size4; /* Ukuran font deskripsi */
  font-family: 'Noto Sans JP', sans-serif;
  font-weight: bold;
  margin: 4px 0; /* Atur margin atas dan bawah agar tidak terlalu memakan ruang */
}

ion-card.mula ion-card-subtitle {
  color: #73d1db; /* Warna teks suhu */
  font-size: $size2; /* Ukuran font suhu */
  font-family: 'Poppins', sans-serif;
  font-weight: bold;
  margin: 4px 0; /* Atur margin atas dan bawah agar tidak terlalu memakan ruang */
}




.details {
  height: auto;
}

ion-card-content {
  font-size: $size6;
  padding: 8px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

ion-card-header {
  text-align: center;
}

ion-card-subtitle {
  font-weight: normal;
  margin-bottom: 1%;
  font-size: $size6; /* Ubah ukuran font sesuai preferensi Anda */
}

/* Blok 1: High & Low */
ion-card-content.blok-1 ion-card-subtitle,
/* Blok 2: Humidity & Pressure */
ion-card-content.blok-2 ion-card-subtitle,
/* Blok 3: Sunrise */
ion-card-content.blok-3 ion-card-subtitle,
/* Blok 4: Sunset */
ion-card-content.blok-4 ion-card-subtitle {
  font-size: $size6; /* Ubah ukuran font sesuai kebutuhan */
}


ion-row {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

ion-col {
  flex-basis: 50%; /* Setengah lebar untuk kolom dalam grid */
}


